
<div class="auth-fluid">
    <!--Auth fluid left content -->
    <div class="auth-fluid-form-box">
        <div class="align-items-center d-flex h-100">
            <div class="card-body">

                <!-- Logo -->
                <div class="auth-brand text-center text-lg-start">
                    <a href="index.html" class="logo-dark">
                        <span><img src="assets/images/logo-dark.png" alt="" height="18"></span>
                    </a>
                    <a href="index.html" class="logo-light">
                        <span><img src="assets/images/logo.png" alt="" height="18"></span>
                    </a>
                </div>

                <!-- title-->
                <h4 class="mt-0">Vinculación</h4>
                <p class="text-muted mb-4"></p>

                <!-- form -->
                <form role="form" #formLogin="ngForm">
                    <div class="mb-3">
                        <label for="emailaddress" class="form-label">Correo Institucional</label>
                        <div class="form-group input-group">
                            <input class="form-control" type="email" id="userName" required=""
                                placeholder="Enter your email" #email>
                            <div class="input-group-prepend">
                                <label for="userName" class="input-group-text  input-underline input-lg"
                                    id="basic-addon1">@yavirac.edu.ec</label>
                            </div>
                        </div>


                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input class="form-control" type="password" required="" id="password"
                            placeholder="Enter your password" #password>
                    </div>
                    <div class="d-grid mb-0 text-center">
                        <button class="btn btn-primary" type="submit" (click)="onLogin(email, password)"><i
                                class="mdi mdi-login"></i> Log In </button>
                    </div>
                </form>
                <!-- end form-->

                <!-- Footer-->
                <footer class="footer footer-alt">
                    <p class="text-muted"> 2023 © Fernando Rivera, Francisco Jumbo - <b> Vinculación Estudiantil</b></p>
                </footer>

            </div> <!-- end .card-body -->
        </div> <!-- end .align-items-center.d-flex.h-100-->
    </div>
    <!-- end auth-fluid-form-box-->

    <!-- Auth fluid right content -->
    <div class="auth-fluid-right text-center">
        <div class="auth-user-testimonial">
            <h2 class="mb-3">Vinculación Estudiantil !</h2>
        </div> <!-- end auth-user-testimonial-->
    </div>
    <!-- end Auth fluid right content -->
</div>
<!-- end auth-fluid-->